<!-- Spinner for loading -->
<div class="spinner"  *ngIf="!spinner" class="vh-100 d-flex justify-content-center align-items-center">
    <app-spinners></app-spinners>
</div>
<!-- Beginning cart page -->
<section class="cart py-4 px-2">
    <!-- Check if productsCart not have any data or have -->
    <div class="empty py-5" *ngIf="!productsCart.length">
        <h3 class="text-3xl text-center text-blueblack"> Your cart is empty! </h3>
        <div class="d-flex justify-content-center align-items-center mt-4">
            <div class="bg-blueblack rounded-3">
              <button class="btn text-white px-3 py-2" routerLink="/shop/products" >
                   Back to shop 
               </button>
            </div>
          </div>
    </div> 
    <div class="cart-content">
        <div class="row py-3 text-center" *ngIf="productsCart.length">
            <div class="col-md-3 col-3">
                <h3 class="fw-bold text-xl text-blueblack pb-2"> Product </h3>
            </div>
            <div class="col-md-2 col-2">
                <h3 class="fw-bold text-xl text-blueblack"> Title </h3> 
            </div>
            <div class="col-md-3 col-3">
                <h3 class="fw-bold text-xl text-blueblack"> Quantity </h3> 
            </div>
            <div class="col-md-2 col-2">
                <h3 class="fw-bold text-xl text-blueblack"> Price </h3>
            </div>
            <div class="col-md-2 col-2">
                <h3 class="fw-bold text-xl text-blueblack"> Remove </h3>
            </div>
            <hr/>
        </div>
        <div class="row pb-4 text-center" *ngFor="let product of productsCart; let index = index">
            <div class="col-md-3 col-3">
               <img [src]="product.product.thumbnail" class="img-sm" loading="lazy"/>
            </div>
            <div class="col-md-2 col-2 d-flex align-items-center justify-content-center">
                <p class="text-center"> {{product.product.title | title}} </p>
            </div>
            <div class="col-md-3 col-3 text-center d-flex align-items-center justify-content-center">
                <p>
                    <i class="fa-solid fa-chevron-left cursor"  (click)="minusProduct(index)"></i> 
                    <span class="text-center "> {{product.quantity}} </span>
                    <i class="fa-solid fa-chevron-right cursor" (click)="plusProduct(index)"></i> 
                </p>
            </div>
            <div class="col-md-2 col-2 d-flex align-items-center justify-content-center">
                <p> ${{(product.product.price * product.quantity).toFixed(0)}} </p>
            </div>
            <div class="col-md-2 col-2 cursor d-flex align-items-center justify-content-center">
               <p>  <i class="fa-solid fa-xmark cursor"  (click)="removeProduct(index)"></i>  </p>
            </div>
        </div>
        <div class="pay col-md-9 col-12 mx-auto d-flex justify-content-between align-items-center mt-5">
            <div class="payment bg-blueblack rounded-3" (click)="payment()"> 
                <button class="btn text-white px-3 py-2" *ngIf="productsCart.length">
                    <span *ngIf="!isLoading"> Online Payment </span>
                    <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
                </button>
            </div>
            <div class="total" *ngIf="productsCart.length">
                <h4 class="fw-bold text-2xl"> Total : ${{totalPrice.toFixed(0)}} </h4>
            </div>
        </div>
    </div>
</section> 
<!-- End cart page -->
