<!-- beginning register page -->
<section class="register px-2 py-4">
  <div class="container d-flex justify-content-center">
    <div class="register-content mt-5 col-lg-6 col-md-9 col-12">
        <div *ngIf="error" class="alert alert-danger"> {{error}} </div>
        <form [formGroup]="registerForm" (ngSubmit)="submitRegister(registerForm)">
            <input type="text" formControlName="first_name" class="form-control p-2 mb-3 border-2 border-gray-300" placeholder="First Name"/>
            <div class="alert alert-danger py-2 mt-2 mb-2" *ngIf="registerForm.get('first_name')!.errors && registerForm.get('first_name')!.touched">
                <p class="m-0" *ngIf="registerForm.get('first_name')?.getError('required')" > First name is required </p>
                <p class="m-0" *ngIf="registerForm.get('first_name')?.getError('minlength')"> First name is min length is 3 </p>
                <p class="m-0" *ngIf="registerForm.get('first_name')?.getError('maxlength')"> First name is max length is 15 </p>
            </div> 
            <input type="text" formControlName="last_name" class="form-control p-2 mb-3 border-2 border-gray-300" placeholder="Last Name"/>
            <div class="alert alert-danger py-2 mt-2 mb-2" *ngIf="registerForm.get('last_name')!.errors && registerForm.get('last_name')!.touched">
                <p class="m-0" *ngIf="registerForm.get('last_name')!.getError('required')"> Last name is required </p>
                <p class="m-0" *ngIf="registerForm.get('last_name')!.getError('minlength')"> Last name is min length is 3 </p>
                <p class="m-0" *ngIf="registerForm.get('last_name')!.getError('maxlength')"> Last name is max length is 15 </p>
            </div>
            <input type="number" formControlName="age" class="form-control p-2 mb-3 border-2 border-gray-300" placeholder="Age"/>
            <div class="alert alert-danger py-2 mt-2 mb-2" *ngIf="registerForm.get('age')!.errors && registerForm.get('age')!.touched">
                <p class="m-0" *ngIf="registerForm.get('age')!.getError('required')"> Age is required </p>
                <p class="m-0" *ngIf="registerForm.get('age')!.getError('min')"> Age is min value is 3 </p>
                <p class="m-0" *ngIf="registerForm.get('age')!.getError('max')"> Age is max value is 90 </p>
            </div>
            <input type="email" formControlName="email" class="form-control p-2 mb-3 border-2 border-gray-300" placeholder="Email"/>
            <div class="alert alert-danger py-2" *ngIf="registerForm.get('email')!.errors && registerForm.get('email')!.touched">
                <p class="m-0" *ngIf="registerForm.get('email')!.getError('required')"> Email is required </p>
                <p class="m-0" *ngIf="registerForm.get('email')!.getError('email')"> Email format invalid </p>
            </div>
            <input type="password" formControlName="password" class="form-control p-2 mb-3 border-2 border-gray-300" placeholder="Password"/>
            <div class="alert alert-danger py-2 mt-2 mb-2" *ngIf="registerForm.get('password')!.errors && registerForm.get('password')!.touched">
               <p class="m-0" *ngIf="registerForm.get('password')!.getError('required')"> Password is required </p>
            </div>
            <button type="submit" [disabled]="registerForm.invalid" class="btn bg-blueblack text-white tracking-wider w-100 p-2 mb-3"> 
                  <span *ngIf="!isLoading"> Register </span>    
                  <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
            </button>
        </form>
        <p> Already have an account? <a routerLink="/account/login" class="text-primary"> Log in </a> </p>
    </div>
  </div>
</section>
<!-- End register page -->