<!-- beginning register page -->
<section class="register px-2 py-4">
  <div class="container d-flex justify-content-center"> 
    <div class="register-content mt-5 col-lg-6 col-md-9 col-12">
        <div *ngIf="error" class="alert alert-danger"> {{error}} </div>
        <form [formGroup]="registerForm" (ngSubmit)="submitRegister(registerForm)">
            <input type="text" formControlName="name" class="form-control p-2 mb-3 border-2 border-gray-300" placeholder="Name"/>
            <div class="alert alert-danger py-2 mt-2 mb-2" *ngIf="registerForm.get('name')!.errors && registerForm.get('name')!.touched">
                <p class="m-0" *ngIf="registerForm.get('name')?.getError('required')" > Name is required </p>
                <p class="m-0" *ngIf="registerForm.get('name')?.getError('minlength')"> Name is min length is 3 </p>
                <p class="m-0" *ngIf="registerForm.get('name')?.getError('maxlength')"> Name is max length is 15 </p>
            </div>
            <input type="email" formControlName="email" class="form-control p-2 mb-3 border-2 border-gray-300" placeholder="Email"/>
            <div class="alert alert-danger py-2" *ngIf="registerForm.get('email')!.errors && registerForm.get('email')!.touched">
                <p class="m-0" *ngIf="registerForm.get('email')!.getError('required')"> Email is required </p>
                <p class="m-0" *ngIf="registerForm.get('email')!.getError('pattern')"> Must be at least 6 chars  </p>
            </div>
            <input type="password" formControlName="password" class="form-control p-2 mb-3 border-2 border-gray-300" placeholder="Password"/>
            <div class="alert alert-danger py-2 mt-2 mb-2" *ngIf="registerForm.get('password')!.errors && registerForm.get('password')!.touched">
               <p class="m-0" *ngIf="registerForm.get('password')!.getError('required')"> Password is required </p>
               <p class="m-0" *ngIf="registerForm.get('password')!.getError('pattern')"> Must be at least 6 chars </p>
            </div>
            <input type="password" formControlName="rePassword" class="form-control p-2 mb-3 border-2 border-gray-300" placeholder="Confirm Password"/>
            <div class="alert alert-danger py-2 mt-2 mb-2" *ngIf="registerForm.get('rePassword')!.errors && registerForm.get('rePassword')!.touched">
               <p class="m-0"> Confirm Password is required </p>
            </div>
            <div class="alert alert-danger py-2 mt-2 mb-2" *ngIf="registerForm.errors?.['passwordMismatch'] && registerForm.get('rePassword')?.touched">
                <p class="m-0"> Confirm Password is incorrect </p>
            </div>
            <input type="tel" formControlName="phone" class="form-control p-2 mb-3 border-2 border-gray-300" placeholder="Phone"/>
            <div class="alert alert-danger py-2" *ngIf="registerForm.get('phone')!.errors && registerForm.get('phone')!.touched">
                <p class="m-0" *ngIf="registerForm.get('phone')!.getError('required')"> Phone is required </p>
                <p class="m-0" *ngIf="registerForm.get('phone')!.getError('pattern')"> Accept only egypt phone numbers </p>
            </div>
            <button type="submit" [disabled]="registerForm.invalid" class="btn bg-blueblack text-white tracking-wider w-100 p-2 mb-3"> 
                  <span *ngIf="!isLoading"> Register </span>    
                  <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
            </button>
        </form>
        <p> Already have an account? <a routerLink="/account/login" class="text-primary"> Log in </a> </p>
    </div>
  </div>
</section>
<!-- End register page -->