<footer class="bg-blueblack text-white px-2 pt-5" *ngIf="delay">
   <div class="container">
      <div class="footer-content">
         <div class="row pt-4">
            <div class="stylish col-md-4 col-6">
               <h3 class="pb-3"> <a routerLink="home" class="text-white"> Stylish </a> </h3>
               <ul class="p-0">
                  <li class="mb-2"> <a routerLink="/pages/about" class="text-white"> About Us </a> </li>
                  <li class="mb-2"> <a routerLink="/pages/contact" class="text-white"> Contact us </a> </li>
                  <li class="mb-2"> Terms of Service </li>
                  <li class="mb-2"> Refund policy </li>
               </ul>
            </div>
            <div class="products col-md-4 col-6">
               <h3 class="pb-3 "> <a routerLink="shop/products" class="text-white"> Products </a> </h3>
               <ul class="p-0">
                  <li class="mb-2"> <a routerLink="/shop/clothes" class="text-white"> Clothes </a> </li>
                  <li class="mb-2"> <a routerLink="/shop/sneakers" class="text-white"> Sneakers </a> </li>
                  <li class="mb-2"> <a routerLink="/shop/watches" class="text-white"> Watches </a> </li>
                  <li class="mb-5"> <a routerLink="/shop/bags" class="text-white"> Bags </a> </li>
               </ul>
            </div>
            <div class="about col-md-4 col-12">
               <h3 class="pb-3"> About </h3>
               <p class="mb-2"> Stylish always involves a good sense of taste and an ability to combine different elements in a way that looks appealing </p>
            </div>
             <div class="social-accounts d-flex justify-content-center pt-5 pb-4">
               <div class="facebook">
                  <i class="fa-brands fa-facebook text-2xl px-2 cursor"></i>
               </div>
               <div class="twitter">
                  <i class="fa-brands fa-twitter text-2xl px-2 cursor"></i>
               </div>
               <div class="instagram">
                  <i class="fa-brands fa-instagram text-2xl px-2 cursor"></i>
               </div>
               <div class="tiktok">
                  <i class="fa-brands fa-tiktok text-2xl px-2 cursor"></i>
               </div>
             </div>
             <div class="footer-copyright text-center pb-4">
               <span> &copy; 2024, <a routerLink="home" class="text-white"> Stylish </a> EG. </span>
             </div>
         </div>
      </div>
   </div>
</footer>