<div class="product shadow-mine overflow-hidden rounded-3 position-relative mb-1">
    <div class="image bg-mine">
        <a [routerLink]="['/shop/products/product-details', product.id]">
            <div class="overflow-hidden rounded-3">
                <img [src]="product.thumbnail" class="w-100 rounded-3" p/>
            </div>
        </a>
    </div>
    <div class="content d-flex justify-content-between align-items-center px-3 mb-1">
        <div class="title">
            <h2 class="text-xl text-gray capitalize mt-2"> {{product.title | cutTitle}} </h2>
        </div>
        <div class="price">
            <span class="text-xl text-gray mt-2"> ${{product.price.toFixed(0)}} </span>
         </div>
    </div>
    <div class="info d-flex justify-content-center pb-3">
        <div class="bg-blueblack rounded-5 px-3">
            <button class="btn text-white" (click)="add()"> Add To Cart </button>
        </div>
    </div>
    <div class="wish text-black position-absolute end-0 top-0 mt-2 me-1 cursor">
        <i *ngIf="!isWish" class="fa-regular fa-heart fa-xl" (click)="productWish()"></i>
        <i *ngIf="isWish" class="fa-solid fa-heart fa-xl" (click)="removeProduct()"></i>
    </div>
</div> 
 